*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 22px;
  

}
body{
    width: 100%;
    min-height: 180vh;
    background-image: linear-gradient(to right, #323545 0%, #262533 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}
.container{
    width: 100%;
    height: 100%;
}

.hub-continue{
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hub-continue a{
    width: 90%;
    height: 3rem;
    margin-top: 1rem;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid lightgray;
    border-radius: 1.5rem;
  
}

.profile-image{
    width: 9.5rem;
    border-radius: 50%;
    padding: 1rem;
}
.nome{
    color: white;
}
